			<!-- Footer -->
			<footer class="footer">
				<div class="holder">
					<div class="row">
						<div class="footer-info">
							<a href="#" class="footer-logo"><img src="img/logo.svg" alt="VIA Architects"></a>
							<span class="tel">
								P / <a href="tel:+61386783300">+61 3 8678 3300</a>
							</span>
							<address>
								Level 3, 377 Lonsdale Street<br>
								Melbourne Victoria 3000<br>
								Australia
							</address>
						</div>
						<div class="footer-nav mobile-hidden">
							<ul>
								<li><a href="#">About</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Projects</a></li>
								<li><a href="#">Journal</a></li>
							</ul>
							<ul>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Privacy</a></li>
								<li><a href="#">Terms</a></li>
							</ul>
							<ul class="social-list">
								<li><a href="#"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
								<li><a href="#"><i class="icon-instagram"></i> <span>Instagram</span></a></li>
								<li><a href="#"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
								<li><a href="#"><i class="icon-linkedin"></i> <span>Linkedin</span></a></li>
							</ul>
						</div>
					</div>
					<div class="copyright">
						@2017 Via Pty Ltd. Website by Yoke
					</div>
				</div>
			</footer>
			<!-- END Footer -->