			<!-- Header -->
			<header class="header">
				<div class="holder">
					<!-- Logo -->
					<div class="logo">
						<a href="#">
							<img src="img/logo.svg" alt="VIA Architects">
						</a>
					</div>
					<!-- END Logo -->

				<!-- Mobile navigation opener -->
				<a href="#" class="nav-opener">
					<div class="menu">
						<i class="icon-menu"></i>
						<span>Menu</span>
					</div>
					<div class="menu-close">
						<i class="icon-close"></i>
						<span>Close</span>
					</div>
				</a>
				<!-- END Mobile navigation opener -->
				<!-- Navigation -->
				<div class="navigation-holder">
					<div class="navigation-block">
            <ul class="navigation">
              <li class="mobile-visible"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Team</a></li>
              <li class="mobile-visible"><a href="#">Project Index</a></li>
              <li><a href="#">Journal</a></li>
              <li class="mobile-visible"><a href="#">Contact</a></li>
              <li class="mobile-visible"><a href="#">Careers</a></li>
              <li class="mobile-visible"><a href="#">Privacy</a></li>
              <li class="mobile-visible"><a href="#">Terms</a></li>
            </ul>
            <div class="social-links">
              <span>Connect with us</span>
              <ul class="social-menu">
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
				</div>
				<!-- END Navigation -->
				</div>
			</header>
			<!-- END Header -->