/*
* Content block
*/

.content-block {
	position: relative;
	padding: 250px 0 155px;

	@include breakpoint(widescreen) {
		padding: 210px 0 125px;
	}

	@include breakpoint(desktop) {
		padding: 129px 0 20px;
	}

	@include breakpoint(tablet) {
		padding: 100px 0 35px;
	}

	.icon-slash {
		position: absolute;
		font-size: 129px;
		top: 73px;
		left: 120px;

		@include breakpoint(widescreen) {
			font-size: 120px;
			top: 19px;
			left: 55px;
		}

		@include breakpoint(desktop) {
			font-size: 65px;
			top: 24px;
			left: 43px;
		}

		@include breakpoint(tablet) {
			font-size: 55px;
	    top: 22px;
	    left: 30px;
		}
	}

	.col-4 {
		padding-top: 10px;
	}

	.container {
		@include breakpoint(widescreen) {
			padding: 0 0 0 55px;
		}

		@include breakpoint(desktop) {
			padding: 0 0 0 43px;
		}

		@include breakpoint(tablet) {
			padding: 0 30px;
		}
	}

	h1 {
		@include breakpoint(tablet) {
			margin-bottom: 20px;
		}
	}
}